NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCol_NBK74W63I9ah8oY7YuJaHhSkungU0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=etraducoes-clone-2026.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=etraducoes-clone-2026
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=etraducoes-clone-2026.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=366323797179
NEXT_PUBLIC_FIREBASE_APP_ID=1:366323797179:web:1395133d57536c85572d9e

NEXT_PUBLIC_APP_NAME="TraduzTudo OS"
NEXT_PUBLIC_APP_URL="https://traduztudo-os.vercel.app"
NEXT_PUBLIC_API_SECRET_KEY="traduztudo-saas-api-secret-key-2026"
